html, body {
    width: 100%;
    height: 100%;
    /* 
    margin: 0px 40px;*/
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
  }

header {
    display: flex;
    align-items: start;
    padding: 0px 260px;
}
.spazioTraHeaderEmain{
    padding-bottom: 50px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(216, 211, 211) 95%, rgb(212, 203, 203) 95%, rgba(183, 179, 187, 0.658) 100%);
}
.titoloLogo {
    display: flex;
    align-items: center;
    gap: 200px;
}
.imgLogo {
    width: 60px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}
h1 {
    font-size: 48px;
    font-weight: bold;
}

.spaceIcone {
    visibility: hidden;
    background-color: black;
    width: 16px;
}

.spaceMediumIcone {
    /*visibility: hidden;*/
    visibility: hidden;
    width: 910px;
    background-color: black;
}

.icone {
    display: flex;
    align-items: center;
    gap: 5px;
}
.icone i {
    font-size: 25px;
    color: #808080;
    cursor: pointer;
}
.Utenza {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #ff5722;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
}

.ResumeMembership {
    padding: 8px 16px;
    border: 1px solid #808080;
    background-color: white;
    color: #131111;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;

}
/*---------------------------------------*/
/*---------------   CARD   -------------------------*/
/*---------------------------------------*/
.spazioLeftCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70%;
}
.card {
    display: flex;
    width: 85%;
    height: 70%;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding-left: 10%;
    padding-bottom: 3%;
}
.cardContenitoreTesto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    font-size: 22px;
}
.cardContenitoreTesto p, h2 {
    margin: 3px;
}
.InfoCard {
    display: flex;
    width: 100%;
    height: 100%;
}
.card-info {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #757575;
    margin: 10px;
}
.card-info span {
    margin-right: 1%;
}
.card-info span:nth-child(5) {
    background-color: #dfdddd;;
    border-radius: 40px;
}
.card-info .category {
    background-color: #fffcfc;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 19px;
    color: #a09595;
}
.ContenitoreImg {
    display: flex;
    align-items: center;
    justify-content: end;
}

.icons i {
    font-size: 16px;
    color: #000000;
    margin-left: 15px;
    font-size: 25px; 
    cursor: pointer;
}
.icons i:first-child {
    margin-left: 200px;
}

/*-----------------------*/
#superContainer{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
}

#ArgomentoPagina{
    width: 80%;
    height: 10%;
    
    display: flex;
    align-items: center;
    font-weight: bold;

    font-size: 18px;
    padding-left: 300px;
    padding-left: 270PX;
    /*-----------------------
    border-bottom: 1px solid rgb(136, 132, 132);
    color: rgb(53, 47, 47);*/

}

#linkArgomentoPagina{
    padding: 10px 20px;
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    border-bottom: 2px solid rgb(136, 132, 132);
    color: rgb(131, 124, 124);
}


.tab {
    padding: 10px 20px;
    text-decoration: none;
    color: #808080;
    font-weight: bold;
    border-bottom: 2px solid rgb(36, 34, 34);
    color: rgb(43, 37, 37);
}
/* ....................................................... */
/* CARD    CardConnessioniEsterne */
/* ....................................................... */
.CardConnessioniEsterne{
    display: flex;
    width: 40%;
    height: 80%;
    border-left: 1px solid rgb(66, 65, 65);
    padding: 20px;
    text-align: center;
    flex-direction: column;
}
.contenitoreCardConnessioniEsterne{
    display: flex;
    align-items: center;
    width: 80%;
    height: 26%;
    flex-direction: column;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;

}
.plus {
    font-size: 40px;
}
.descrizione {
    font-size: 25px;
    color: #4a4a4a;
    margin: 10px 0 20px;
}
.connect-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 25px;
    color: #1da1f2;
    border: 1px solid #1da1f2;
    border-radius: 24px;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
}

.maybeLater {
    color: #928686;
    font-size: 18px;
    text-decoration: underline;
}

/* ....................................................... */
/* ....................................................... */
/* ....................................................... */
/* CARD    CardRecommendedTopics */
/* .....................Topics............................ */

.CardRecommendedTopics {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 18%;
    background-color: rgb(255, 255, 255);
    /* .......linea finale card.......... */
    /* .......linea finale card.......... 
    border-bottom: 1px  solid rgb(76, 72, 72);*/
}
.recommendedTopics {    
    font-size: 25px;
    color: #4a4a4a;
    margin: 10px 0 20px;  
}
.topics {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;    
}
.topic { 
    padding: 5px 10px;
    margin: 5px;
    font-size: 18px;
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}   
/* ....................................................... */
/* ....................................................... */
/* ....................................................... */
/* CARD    FollowUser */
/* .....................Follow............................ */

.cardFollow {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 55%;
    background-color: rgb(255, 255, 255);
    /* .......linea finale card.......... */
    /* .......linea finale card.......... 
    border-bottom: 1px  solid rgb(76, 72, 72);*/
    margin-bottom: 50px;
}
.cardTitle {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: left; 
    margin-left: 26%;
}
.userFollow {
    display: flex;
    flex-wrap: wrap;    
    justify-content: start;    
    align-items: center;
    margin-left: 10%;
}
.IMG {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.userName {
    font-weight: bold;
    color: #333;
    margin: 0;
}
.userDescription {
    font-size: 20px;
    color: #757575;
    margin: 20px;
}
.followCTA {
    background-color: white;
    border: 1px solid #808080;
    border-radius: 20px;
    padding: 6px 12px;
    color: #808080;
    font-size: 14px;
    cursor: pointer;
}
/* ....................................................... */
/* ....................................................... */
/* ....................................................... */
/* CARD    Recently saved */
/* ................................................. */
.recentlySavedTitle {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 26%;
    margin-top: 20px;
}

.recentlySaved {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.savedImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.savedInfocard{
    font-size: 14px;
    margin: 0;
}
.savedInfocard p{
    text-align: left;
}
.authorInfo {
    font-size: 14px;
    margin: 0;
}
.savedInfo {
    font-size: 12px;
    color: #757575;
    margin: 5px 0 0;
}
.seeAll{
    font-size: 14px;
    color: #808080;
    cursor: pointer;
}

/* ....................................................... */
/* ....................................................... */
/* ....................................................... */